:root {
     /* colores */
    --color-amarillo: #eac926;
    --color-azul : #03264c;
    --color-celeste : #1259c3;
    --color-grisOscuro : #666;
    --color-grisClaro : #ebebeb;
    --color-verde : #39b54a;

    /* fuentes */
     --font-family: 'Roboto', sans-serif;

}

header {
    background-color: var(--color-amarillo);
}
p {
    background-color: sandybrown;
    font-size: 12px;
}
h2{
    font-size: 24px;
}

p .precios{
    font-size: 18px;
}

p .descuentos{
font-size: 16px;
}
h3{
    font-size: 16px;
}