<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="/public/images/logo-mercado-liebre.svg">
</head>
<body>
    <img src="/images/logo-mercado-liebre.svg" alt="">
    <i class="fas fa-search"></i> <input type="search" name="busqueda" placeholder="Que estas buscando?">
<p>Compra packs en coutas y sin tarjeta de credito!</p>
<nav>
    <ul type= "circle">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        <br>
        <li><a href="#">Creá tu cuenta!</a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis Compras</a></li>
    </ul>
</nav>
<main>
    <section>
       <h2>Basado en tu ultima visita</h2>
          <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex" width="300px" height="300px">
<h3>Cafetera Moulinex</h3>
      <p>$6.700</p>
      <p>40% Off</p>
      <br>
      <img src="/images/img-macbook-pro-2019.jpg" alt="macboook" width="300px" height="300px">
      <h3>MacBook Pro 2019</h3>
      <p>$230.000</p>
      <p>20% Off</p>
      <br>
      <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsunggalaxya10" width="300px" height="300px">
      <h3>Samsung Galaxy s10</h3>
      <p>$70.500</p>
      <p>10% Off</p>
      <br>
      <img src="/images/img-tv-samsung-smart.jpg" alt=" tele sansun" width="300px" height="300px">
      <h3>Samsung SmartTv</h3>
    <p>$23000</p>
    <p> 40% Off</p>
    </section>
    <section>
        <h2>Ofertas del mes</h2>
           <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex" width="300px" height="300px">
 <h3>Cafetera Moulinex</h3>
       <p>$6.700</p>
       <p>40% Off</p>
       <br>
       <img src="/images/img-macbook-pro-2019.jpg" alt="macboook" width="300px" height="300px">
       <h3>MacBook Pro 2019</h3>
       <p>$230.000</p>
       <p>20% Off</p>
       <br>
       <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsunggalaxya10" width="300px" height="300px">
       <h3>Samsung Galaxy s10</h3>
       <p>$70.500</p>
       <p>10% Off</p>
       <br>
       <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300px" height="300px">
       <h3>Samsung SmartTv</h3>
     <p>$23000</p>
     <p> 40% Off</p>
     </section>
</main>
<br>
<br>
<br>
<footer>
    <h3>● Pagá con tarjeta o en efectivo</h3> 
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    <h3>● Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.
    7</p> 
    <h3>● Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    <h3>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
</footer>
</body>
</html>